<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>effectname</key>
		<string>Normal</string>
		<key>iconname</key>
		<string>filter_normal.jpg</string>
		<key>filternumber</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Film</string>
		<key>iconname</key>
		<string>filter_film.jpg</string>
		<key>filternumber</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Diana F+</string>
		<key>iconname</key>
		<string>filter_diana.jpg</string>
		<key>filternumber</key>
		<integer>9</integer>
		<key>boxname</key>
		<string>black4</string>
		<key>boxupheight</key>
		<string>320</string>
		<key>boxdownheight</key>
		<string>320</string>
		<key>boxleftwidth</key>
		<string>10</string>
		<key>boxrightwidth</key>
		<string>10</string>
	</dict>
	<dict>
		<key>effectname</key>
		<string>B&amp;W</string>
		<key>iconname</key>
		<string>filter_bw.jpg</string>
		<key>filternumber</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Violet</string>
		<key>iconname</key>
		<string>filter_violet.jpg</string>
		<key>filternumber</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Old School</string>
		<key>iconname</key>
		<string>filter_oldschool.jpg</string>
		<key>filternumber</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Loft</string>
		<key>iconname</key>
		<string>filter_loft.jpg</string>
		<key>filternumber</key>
		<integer>2</integer>
		<key>boxname</key>
		<string>loft</string>
		<key>boxdownheight</key>
		<string>50</string>
		<key>boxupheight</key>
		<string>50</string>
		<key>boxleftwidth</key>
		<string>50</string>
		<key>boxrightwidth</key>
		<string>50</string>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Forest</string>
		<key>iconname</key>
		<string>filter_forest.jpg</string>
		<key>filternumber</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Holga</string>
		<key>iconname</key>
		<string>filter_holga.jpg</string>
		<key>filternumber</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>1949</string>
		<key>iconname</key>
		<string>filter_1949.jpg</string>
		<key>filternumber</key>
		<integer>4</integer>
		<key>boxname</key>
		<string>1949</string>
		<key>boxupheight</key>
		<string>30</string>
		<key>boxdownheight</key>
		<string>30</string>
		<key>boxleftwidth</key>
		<string>30</string>
		<key>boxrightwidth</key>
		<string>30</string>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Sun</string>
		<key>iconname</key>
		<string>filter_sun.jpg</string>
		<key>filternumber</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Instant</string>
		<key>iconname</key>
		<string>filter_instant.jpg</string>
		<key>filternumber</key>
		<integer>13</integer>
		<key>haslongbox</key>
		<string>YES</string>
		<key>boxname</key>
		<string>instant</string>
		<key>boxupheight</key>
		<string>60</string>
		<key>boxdownheight</key>
		<string>200</string>
		<key>boxleftwidth</key>
		<string>80</string>
		<key>boxrightwidth</key>
		<string>80</string>
	</dict>
	<dict>
		<key>effectname</key>
		<string>London</string>
		<key>iconname</key>
		<string>filter_london.jpg</string>
		<key>filternumber</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Indigo</string>
		<key>iconname</key>
		<string>filter_indigo.jpg</string>
		<key>filternumber</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Sliver</string>
		<key>iconname</key>
		<string>filter_sliver.jpg</string>
		<key>filternumber</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>effectname</key>
		<string>Moment</string>
		<key>iconname</key>
		<string>filter_moment.jpg</string>
		<key>filternumber</key>
		<integer>12</integer>
	</dict>
</array>
</plist>
